html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin:0;
}
embed{
    height: Calc(100% - 60px);
    margin-top: 60px;
    position: absolute;
}
#tabs{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: white;
}
#controls{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 30px;
    background-color: grey;
}